{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4 auth-card">

    <h2 class="text-center mb-2 fw-bold">Welcome back</h2>
    <p class="text-center text-muted mb-4">Log in to manage your soccer training sessions.</p>

    <form method="POST" action="{% url 'planner:login' %}">
      {% csrf_token %}

      {% if form.errors %}
      <div class="alert alert-danger">
        Invalid username or password.
      </div>
      {% endif %}

      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" name="username" class="form-control" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary w-100 py-2">Login</button>
    </form>

    <div class="text-center mt-3">
      <small class="text-muted">Don’t have an account?</small><br>
      <a href="{% url 'planner:register' %}" class="fw-semibold">Create one</a>
    </div>

  </div>
</div>

{% endblock %}
